.hidden {
  display: none;
}

.cart-items {
  overflow: scroll;
  background-color: lightblue;
  width: 220px;
  height: 220px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  contain: content;
  align-items: center;
  z-index: 1;

  .productInTheCart {
    max-width: 200px;
    height: auto;
    border: 1px solid orangered;
  }
}
