<div class="produktas">
  <h1>{{this.kabelis.pavadinimas}}</h1>

  <div class="kaina" *ngIf="this.kabelis.kiekis <5">
    <h1> Kaina {{this.kabelis.kaina}} EUR</h1>
  </div>


  <div [ngClass]="{'kaina':true, 'nuolaida':true}" *ngIf="this.kabelis.kiekis >=5">
    <h1> Kaina {{this.kabelis.suteiktiNuolaida()}} EUR</h1>
  </div>

  <img src="{{this.kabelis.image}}" alt="#">

  <button (click)="this.kabelis.padidintiKieki()">Prideti</button>
  <button *ngIf="this.kabelis.kiekis>0" (click)="this.kabelis.sumazintiKieki()">Isimti</button>

  <button [class.neaktyvus]="true" *ngIf="this.kabelis.kiekis===0">Isimti</button>

  <div class="krepselis">
    {{this.kabelis.kiekis}}
  </div>

</div>