.produktas {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 10px calc(50% - 400px);
  align-items: center;
  gap: 20px;

  &.nuolaida {
    background-color: orangered;
  }

  img {
    max-width: 600px;
    height: auto;
  }



  .akcija {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: orange;
    animation: animation 2s ease-in-out infinite;
  }

  @keyframes animation {
    0% {
      display: none;
    }

    30% {
      font-size: 18px;
    }

    60% {
      font-size: 36;
    }

    90% {
      font-size: 18px;
    }

    100% {
      display: none;
    }
  }


  button {
    padding: 5px 15px;

    &.neaktyvus {
      background-color: red;
    }
  }
}
