/* You can add global styles to this file, and also import other style files */
body {
  background-color: #d1d4dc;
  display: grid;
  width: 800px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  gap: 30px;
}
