.produktas {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid red;
  border-radius: 13px;
  border-style: inset;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 500px;
  align-items: center;
  contain: content;
  gap: 20px;
  opacity: 0;
  animation: fill 1s steps(60, start) forwards;

  @keyframes fill {
    to {
      opacity: 1;
    }
  }

  h1 {
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    animation: title 2.5s steps(50, end) infinite;
  }

  @keyframes title {
    to {
      width: 100%
    }
  }

  &.nuolaida {
    background-color: orangered;
  }

  img {
    width: 150px;
    height: 120px;
  }



  .akcija {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    contain: content;
    color: orange;
    animation: animation 2s ease-in-out infinite;
  }

  @keyframes animation {
    0% {
      display: none;
    }

    30% {
      font-size: 19px;
    }

    60% {
      font-size: 18px;
    }

    90% {
      font-size: 9 px;
    }

    100% {
      display: none;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;

    button {
      color: white;
      padding: 5px 15px;
      border: 2px, solid;
      border-radius: 13px;
      background-color: black;
      text-align: center;


      &.neaktyvus {
        background-color: red;
      }
    }

    button:hover {
      cursor: pointer;
      background-color: white;
      color: black;
      transform: scale(1.05);
    }
  }

  .likutis {
    padding: 5px;
    border-radius: 3px;
    border: 2px red;
    border-style: inset;
  }
}
