<div class="produktas">
    <h1>{{this.preke?.pavadinimas}}</h1>

    <div class="kaina" *ngIf="this.preke!.kiekis <5">
        <h2> Kaina {{this.preke?.kaina}} EUR</h2>
    </div>

    <ng-container *ngIf="this.preke!.kiekis >=5">
        <div class="akcija" *ngFor="let akcija of this.preke?.akcijos">
            {{akcija}}
        </div>
    </ng-container>

    <div [ngClass]="{'kaina':true, 'nuolaida':true}" *ngIf="this.preke!.kiekis >=5">
        <h2> Kaina {{this.preke?.suteiktiNuolaida()}} EUR</h2>
    </div>

    <img src="{{this.preke?.image}}" alt="#">
    <div class="actions">
        <button (click)="this.preke?.padidintiKieki()">Prideti</button>
        <button *ngIf="this.preke!.kiekis>0" (click)="this.preke?.sumazintiKieki()" (click)="onAddToCart.emit()">Prideti i krepseli</button>

        <!-- <button (click)="" [disabled]="!">Atsaukti</button> -->
        <button [class.neaktyvus]="true" *ngIf="this.preke?.kiekis===0">Prideti i krepseli</button>

    </div>
    <div class="likutis">
        <p>Likutis: {{this.preke?.kiekis}}</p>
    </div>
</div>